.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;

  .login_input {
    min-width: 200px;
    height: 30px;

    text-align: center;

    border-radius: 7px;
    box-shadow: 6px 4px 4px #006400;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    margin: 0 auto;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      background-color: #90EE90;
    }
  }

  .login_button {
    min-height: 30px;
    min-width: 200px;
    margin-top: 10%;
    border-radius: 7px;

    &:hover {
      cursor: pointer;
      background-color: #3CB371;
      color: #f9f9f9;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #F08080;
      color: #f9f9f9;
    }
  }
}

.messageError {
  margin: 20px auto;
  color: #d90000;
  text-align: center;
}
